{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="col-md-6 offset-md-3">

    {% if request.user.is_authenticated %}
    <h1 class="text-muted text-center mt-3 mb-3">User Information</h1>
    <ul class="list-group">
        <li class="list-group-item"><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</li>
        <li class="list-group-item"><b>Username:</b> {{ user.username }}</li>
        <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
        <li class="list-group-item"><b>Vehicle:</b> {{ user.vehicle.vehicle_id }}</li>

        {% if user.vehicle.is_charging %}
        <li class="list-group-item"><b>Total last charge:</b> Currently charging</li>
        {% else %}
        <li class="list-group-item"><b>Total last charge:</b> {{ user.vehicle.total_time_last_session }}</li>
        {% endif %}

    </ul>
    
    {% if not request.user.vehicle.is_charging %}

    <h1 class="text-muted text-center mt-3 mb-3">Charging of E-Vehicles</h1>

    <form action="/start_charging" method="POST">
        {% csrf_token %}    
        <button id="stat-bnt" class="btn">Start Charging</button>
    
    </form>

    {% else %}

    <h1 class="text-muted text-center mt-3 mb-3">Your vehicle is currently charging</h1>

    <form action="/stats" method="POST">
        {% csrf_token %}    
        <button id="stat-bnt" class="btn">Check Charging Stats</button>
    
    </form>

    {% endif %}

    {% else %}
    <h1 class="text-muted text-center mt-5 mb-5">Welcome to the Charging App h1>
    <h2 class="text-muted text-center mt-5">Login to see user information</h2>
    {% endif %}
</div>
{% endblock content %}